# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = bgmapi.settings

[deploy]
url = http://cloudymiao.cloudapp.net:6800/
project = bgmapi
